<h1><%= @title %></h1>

<form action="/morg" method="post">
  <input type="num" name="loan" placeholder ="Your Loan"autofocus>
  <input type="num" name="apr" placeholder="Interest Rate"autofocus>
  <input type="num" name="term" placeholder="term" autofocus>

  <button type="submit">calculate monthly payment!</button>
</form>

<p><%= @payment %></p>

